1) - Print all elements of a list using for loop

In [5]:
listx =[2,4,6,8,10,12,14,16]
for evennumber in listx:
    print(evennumber)

2
4
6
8
10
12
14
16

2) - A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. 
Ask user for their salary and year of service and print the net bonus amount.

In [1]:
salary=int(input('please enter your salary'))
service=int(input('how old is your service to our company?'))
if service>5:
    bonus=0.05*salary
    print('net bonus = ', bonus)
else:
    print('bonus cannot be generated')

please enter your salary5000
how old is your service to our company?6
net bonus =  250.0

3) - Take input of age of 3 people by user and determine oldest and youngest among them.

In [2]:
age1=int(input('enter your age'))
age2=int(input('enter your age'))
age3=int(input('enter your age'))
oldest=max(age1, age2, age3)
youngest=min(age1, age2, age3)
print('oldest age is: ', oldest)
print('youngest age is: ', youngest)

enter your age12
enter your age16
enter your age18
oldest age is:  18
youngest age is:  12

4/5) - A school has the following rules for grading system: 
    (a)Below 25-F (b)25 to 45-E (c)45 to 50-D (d)50 to 60-C 
    (e)60b to 80-B (f)Above 80-A. Ask user to enter marks and print the corresponding grade.

In [13]:
mark = input('enter mark')
mark=int(mark)
if mark<25:
    print('F')
elif mark>=25 and mark<45:
    prnt('E')
elif mark>=45 and mark<50:
    print('D')
elif mark>=50 and mark<60:
    print('E')
elif mark>=60 and mark<80:
    print('B')
else:
    print('A')

enter mark60
B

6) Write a python script to merge two python dictionaries

In [11]:
d1={'teenager':16}
d2={'adult':18}
d=d1.copy()
d.update(d2)
print(d)

{'teenager': 16, 'adult': 18}

7) - Write a python program to get the largest number from a list

In [10]:
def max_num_in_list (list):
    max=list[0]
    for x in list:
        if x>max:
            max=x
    return max
print(max_num_in_list([3,6,9,1,-9]))

9

8) - Write a python program to remove a key from a dictionary

In [8]:
dictx={'Nigeria':36, 'Ghana':16, 'Uganda':4}
print(dictx)
if 'Nigeria' in dictx:
    del dictx['Nigeria']
print(dictx)

{'Nigeria': 36, 'Ghana': 16, 'Uganda': 4}
{'Ghana': 16, 'Uganda': 4}